::selection {
    color: blue;
    background-color: aqua;    
}  

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    background: url("../images/farm\ \(1\).jpg");
    justify-content: space-between;
    scroll-behavior: smooth;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100rem;
    max-height: 100%;
    width: 80rem;
    height: 70rem;
}

/* header starts */
header {
    display: flex;
    position: fixed;
    top: 0;
    max-width: 100rem;
    width: 100%;
    height: 35%;
    padding: 2rem 7%;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border: 5px solid #ffffff;
    border-left: 4px solid #00ff15;
    border-right: 4px solid #00ff15;
    border-bottom: 1px solid #00ff1500;
    border-top: 6px solid #ffffff;    
}


html::-webkit-scrollbar {
    width: 0rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: rgb(2, 63, 0);
}

/* nav-menu */
.nav-menu {
    margin-top: -8.4rem;
    max-width: 100%;
}
/* flex */
.flex {
    max-width: 100rem;
    position: relative;
}
/* logo section */
.logo_name {
    margin-bottom: 10rem;
    margin-left: -3rem;
    max-width: 100%;
    margin-top: 1.5rem;
}

.logo img {
    width: 70px;
    position: relative;
    padding-top: -60rem;
    padding-right: 1rem;
    border-radius: 40%;
}

.farm {
    margin-right: auto;
    margin-left: 4rem;
    margin-top: -3.7rem;
    z-index: 2;
}

.farm h4 a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00ff15;
    cursor: pointer;
    font-size: 37px;
    font-weight: 600;
    font: bold;
    text-decoration: underline;
    transition: 0.3s linear;
}

.farm h4 a:hover {
    color: brown;
}

.farm h4 a strong {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 39px;
    transition: 0.3s linear;
}

.farm h4 a:hover strong {
    color: #00ff15;
}

/* navbar (navigation bar) */
.navbar {
    max-width: 60rem;
}

.navbar ul .active{
    color: brown;
}

.navbar ul a {
    margin-left: 1.9rem;
    color: #14ff1f;
    font-size: 18px;
    font-weight: 600;
    border-top: 1px solid rgba(3, 158, 11, 0);                 /* this is to add a line to top of selected texts or objects */
    border-bottom: 1px solid rgba(3, 158, 11, 0);              /* this is to add a line to bottom of selected texts or objects */
    transition: .1s ease-out;
}
/* navbar hover: this is to add animation feature to the object */
.navbar ul a:hover {
    transform: scale(1.1);
    color: brown;            
    border-bottom: 3px solid rgba(0, 255, 13, 0.616);           /* this is to add an an animated line to the bottom of selected texts or objects */
}

/* login-register-button */
#login-register-button {
    margin-left: 60rem;
    display: inline-block;
    background-color: #07c707;
    width: 9rem;
    height: 2rem;
    text-align: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0.5rem .0.9rem rgba(23, 24, 23, 0.486);
}

#login-register-button h4 {
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    transition: .3s ease-in-out;
}

#login-register-button h4:hover {
    transform: scale(1.1);
    color: rgb(0, 26, 255);
}

/* market item heading */
#mart-tech {
    padding-top: 0rem;
    max-width: 100%;
}
 
#mart-tech h1 {
    font-family: cursive;
    padding-bottom: 4rem;
    font-size: 30px;
    font-weight: 650;
    color: #00ff15;
    text-align: center;
    width: 60rem;
    text-decoration: underline;
}
 
#mart-tech small {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    font-size: 38px;
    font-weight: 670;
}

#mart-tech span {
    color: #fbff00;
    font-size: 43px;
    font-weight: 700;
}

/* item input */
#mart-tech input {
    width: 80rem;

}



footer {
    background: #252525;
    padding: 25px 0 20px;
    max-width: 100%;
    height: 3rem;
    max-width: 100%;
}

footer small {
    color: #ddd;
    font-size: 16px;
    padding: 20px;
    margin-top: 20rem;
}

footer small .footer-heart {
    font-size: 20px;
}

footer small a {
    color: #007bdc;
}

















