::selection {
    background: rgb(170, 255, 0);
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Montserrat;
}
header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('./good\ \(3\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: rgb(0, 10, 66);
}


.heading {
    position: relative;
    color: rgb(0, 15, 0);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .4rem;
    text-align: center;
    margin-bottom: 3rem;
}



.nav1 {
    width: 100%;
    justify-content: end;
    padding: 30px;
    padding-bottom: 10px;
    gap: 50px;
}

.icons {
    gap: 10px;
    z-index: 2;
    border-radius:2px;
    transition: .5s ease-in;
    opacity: 2.0;
}

.icons:hover {
    transform: scale(1.1);
    opacity: 5.0;
}

.lsbtn  button{
    border: none; font-family: Montserrat;
    color: #fff;
    background-color: rgba(0, 138, 80, 0.055);
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 600;
    z-index: 2;
    cursor: pointer;
    transition: 0.6s linear;
}

.lsbtn  button:nth-child(1) {
    border-top-left-radius: 50px;  border-bottom-left-radius: 50px;
    border-right: 2px solid #fff;
}
.lsbtn  button:nth-child(2) {
    border-top-right-radius: 50px;  
    border-bottom-right-radius: 50px;
}

.lsbtn  button:hover {
    background-color: #fff;
    color: black;
    transform: scale(1.1); 
}

.mainnav {
    justify-content: space-between;
}

.logo {
    margin-left: 30px;
    margin-top: 0px;
    z-index: 2;
}

.logo h1 a {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    padding-top: 50px;
    transition: 0.3s linear;
}

.logo h1 a span {
    color: rgb(170, 255, 0);
}
.logo h1 a:hover {
    color: rgb(170, 255, 0);
}
.logo h1 a:hover span {
    color: #fff;
}

.navList {
    z-index: 2;
    margin-top: 10px;
}

.navList ul {
    gap: 40px;
}

.navList ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s linear;
}

.navList ul li .active{
    color: yellow;
}

.navList ul li a i {
    font-size: 10px;
}
.navList ul li a:hover {
    color: yellowgreen;
    border-bottom: 1px solid #fff;
}

.headercont {
    padding-top: 5rem;
    justify-content: center;
    flex-direction: column;
    z-index: 4;
}

span {
    color: #fff;  
    font-weight: 200;
    transition: .3s;
 }

.labels h3 a:hover { color: var(--main-color);  
    transform: scale(1.1);
}

.headercont h1 {
    font-family: Heathergreen;
    z-index: 2; font-size: 10vw; 
    text-shadow: 0.5px 0.5px 150px #130101;
    font-weight: 200;
    margin-top: -20px;
    color: rgb(170, 255, 0);
}

span {
    color: #fff
}
.headercont p {
    z-index: 2;
    text-align: center;
    font-weight: 100;
    color: #ffffffc7; font-size: 20px;  margin-top: -20px;
}

.headbtn{
    z-index: 2;
    margin: 60px 0;
    gap: 50px;
}


.button {
    height: 50px;
    width: 150px;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    border-bottom: 3px solid rgb(0, 255, 55);
    overflow: hidden;
    transition: all 0.5s;
}

.button:hover {
    box-shadow: 0.5px 0.5px 150px #252525;
}

.type2::after {
    content: 'CLICK';
    height: 50px;
    width: 150px; 
    background-color: rgb(81, 255, 0);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50px);
    font-size: 1.2rem; font-family: GUMDROP;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;   
}

.type2 ::before {
    content: 'GAME DETAILS';
    height: 50px;
    width: 150px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0px) scale(1.2);
    font-size: 0.9rem; font-family: Montserrat;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.type2::before {
    content: 'BUY NOW';
    font-family: GUMDROP;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.type2:hover::after {transform: translateY(0) scale(1.2);}
.type2:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}

span {
    color: rgb(170, 255, 0);
    font-weight: 500;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    position: absolute;
    left: -200px;
}

section {
    padding: 60px 14%;
}